@import url("https://fonts.googleapis.com/css?family=Roboto");

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgba(255, 8, 8, 0.781);
    margin: 0;
    padding: 0;
}

/* Body styling */
body {
    background-color: rgba(255, 216, 216, 0.493);
    font-family: "Roboto", sans-serif;
    font-size: 1em;
}

/* Custom checkbox styling */
input[type="checkbox"] {
    appearance: none;
}

/* Toggle switch styling */
.toggle-pill-bw input[type="checkbox"] + label {
    display: flex;
    align-items: center;
    position: relative;
    width: 3em;
    height: 1.6em;
    margin-bottom: 20px;
    background: #50565a;
    border-radius: 1em;
    border: 1px solid black;
    cursor: pointer;
    transition: background 0.1s ease-in-out;
}

.toggle-pill-bw input[type="checkbox"]:checked + label {
    background: #47cf73;
}

.toggle-pill-bw input[type="checkbox"] + label:before {
    content: "";
    display: block;
    width: 1.2em;
    height: 1.2em;
    border-radius: 1em;
    background: #f7f2f2;
    position: absolute;
    left: 0.2em;
    top: 0.2em;
    transition: all 0.2s ease-in-out;
}

.toggle-pill-bw input[type="checkbox"]:checked + label:before {
    left: calc(100% - 1.6em);
    transform: rotate(45deg);
}

/* Extension list styling */
#extension-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.item {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.toggle-container {
    display: flex;
    align-items: center;
}

.toggle-pill-bw {
    margin-right: 10px;
}

.extension-info {
    display: flex;
    flex-direction: column;
}

.extension-name {
    font-weight: bold;
}

.extension-version {
    font-size: 0.8em;
    color: #888;
}
